body{
  background-color: #191919;
  text-align:center;
}

.card{
  text-align: left;

  font-size: 20px;
  background-color:black;
  color: rgb(197, 175, 175);
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 120%;
  max-height: max-content;
  min-height: 300px;
  overflow: hidden;
  border-width: 6px;
  border-style: solid;
border-image-slice: 1;
border-width: 5px;

}
.date{
  color:grey;
  text-align:left !important;
}
.card-body{
  color: blanchedalmond;
  font-family: 'Montserrat', sans-serif;
}
.border-gradient-purple {
  border-radius: 20px;
  box-shadow: -5px -5px 10px 0px #d53a9d,
  5px 5px 10px 0px #743ad5; 
}

.thumbnail{
 margin-left: auto;
 margin-right: auto;
 margin-top: 5%;
 height:max-content;
}

.desc{
  color:white;
}

.newsImg{
  width : 65%;
  border-radius: 50%;
  margin-left:25%;
  margin-top:10%;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #191919;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  background: #575757;
  text-decoration: none;
}

.card-title{
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.footer{
  margin: 10px auto;
  font-family: 'Merriweather', serif;
}

@media (max-width:1000px){
  .card{
    text-align:center;
  }
  .newsImg{
    width : 45%;
    height : 45%;
    margin-left:5%;
    margin-top:10%;
  }
  
}